VITE_CHAMA_FACTORY_ADDRESS=0xYourFactoryAddress
VITE_USDC_ADDRESS=0x6f14c9687ccf0532413d582b8f6320802f89f90a
VITE_SEPOLIA_CHAIN_ID=11155111
VITE_SEPOLIA_RPC_URL=https://sepolia.infura.io/v3/YOUR_INFURA_KEY
VITE_WALLETCONNECT_PROJECT_ID=YOUR_WALLETCONNECT_PROJECT_ID

